.wcontainer {
  border: 1px black;

  padding: 25px;

  border-radius: 8px;
}
.search-icon {
  text-align: center;
}
.location {
  font-weight: normal;
  padding: 20px;
}
#conversion {
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

.today {
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
}
.weatherdecription {
  text-align: left;
  list-style: none;
}
.weather-attributes {
  text-align: right;
  list-style: none;
  padding-right: 10px;
}

.wwrapper {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border: 1px black;
  padding: 30px;
  border-radius: 8px;
}
/* .sunny-icon {
  color: #fbbc04;
  font-size: 35px;
}
.cloudysun {
  color: #fbbc04;
  font-size: 35px;
}
.more {
  display: block;
  margin: 20px auto;
  background-color: rgb(174, 174, 236);
  border-radius: 10px;
  border: none;
/* } */
.day {
  color: black;
  padding: 30px;
  text-decoration: none;
  margin-left: 60px;
}
.day:hover {
  text-decoration: underline;
  font-weight: bold;
}
/* .weather-icon {
  padding: 40px;
}

.forecast {
  margin-top: 30px;
  padding-left: 80px;
}  */
.github {
  text-align: center;
  font-size: 18px;
}
